@font-face {
	font-family: 'Black bison';
	src: url('/fonts/blackbison-webfont.woff2') format('woff2'),
		url('/fonts/blackbison-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
