// filters: https://angel-rs.github.io/css-color-filter-generator/
$color-black: #000;
$color-white: #fff;
$color-white-filter: brightness(0) invert(1);

$color-scroll: #ffa827;
$color-background-primary: #101010;
$color-text-primary: $color-white;

$font1: 'Black bison';

$animation1: 0.3s;
